@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Covered+By+Your+Grace&display=swap');

@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

.space-grotesk {
  font-family: 'Space Grotesk', sans-serif;
}

@layer utilities {
  .text-custom-large {
    font-size: 49px; /* Adjust this value to achieve the desired size */
  }
  .text-balance {
    text-wrap: balance;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  }

  /* Gradient text animation utility */
  @keyframes gradient {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }

  .gradient-text {
    background: linear-gradient(270deg, #86e3ce, #6a5acd, #ff6f61, #ffab40, #ff0000);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
  }

  .paper-background {
    background-color: #FAFAF9; /* Base color */
    background-image: 
        radial-gradient(circle at 20% 20%, rgba(0, 0, 0, 0.05), transparent 10%),
        radial-gradient(circle at 80% 80%, rgba(0, 0, 0, 0.05), transparent 10%),
        radial-gradient(circle at 50% 50%, rgba(0, 0, 0, 0.05), transparent 10%);
    background-size: 10% 10%; /* Adjust this for more or less noise */
    background-repeat: no-repeat;
  }
}

.quote {
  font-family: 'Covered By Your Grace', cursive;
  font-size: 24px;
  text-align: center;
}

#root, #__next {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex-grow: 1;
}

footer {
  margin: 0;
  padding: 0;
}